{% extends '_base_layout/base.html' %}

{% block title %}{{ object.name }} | {{ block.super }}{% endblock %}

{% block headline %}
<h1>{{ object.name }}</h1>
<h2>Your lists</h2>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        {% for talk in object.talks.all %}
        {% include '_talks.html' %}
        {% endfor %}
    </div>
    <div class="col-sm-6">
        <p><a href="{% url 'list' %}">Back to lists</a></p>
        {% load crispy_forms_tags %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="anel-title">Add new talk</h1>
            </div>
            <div class="panel-body">
                {% crispy form %}
            </div>
        </div>
    </div>
</div>
{% endblock %}